$desktop: 992px;
$gradient-start: hsl(273, 75%, 66%);
$gradient-end: hsl(240, 73%, 65%);
$divider-color: hsl(240, 5%, 91%);
$text-hover: hsl(14, 88%, 65%);
$text-heading: hsl(238, 29%, 16%);
$text-heading2: hsl(237, 12%, 33%);
$text-normal: hsl(240, 6%, 50%);
$font-size: 12px;
$mobile-size: 992px;

@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

@mixin position($position, $top, $left) {
  position: $position;
  top: $top;
  left: $left;
}

@mixin flexbox($direction: row, $justifyContent: center, $alignItems: center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justifyContent;
  align-items: $alignItems;
}

* {
  padding: 0;
  margin: 0;
}

body {
  min-height: 100vh;
  background: linear-gradient(to bottom, $gradient-start, $gradient-end);
  @include flexbox(column, center, center);
  font-size: $font-size;
  font-family: "Kumbh Sans", sans-serif;
  color: $text-normal;

  .container {
    max-width: 920px;
    width: 90%;
    @include flexbox(row, center, flex-start);
    background-color: white;
    border-radius: 23px;

    .image {
      flex: 1;
      @include position(relative, 0, 0);

      #box {
        width: 40%;
        @include position(absolute, 38%, -20%);
        z-index: 3;
      }
      .cover-image {
        overflow: hidden;
        @include position(relative, 0, 0);

        .illustration {
          @include position(absolute, 10%, -15%);
          width: 100%;
          z-index: 2;
        }

        .background {
          width: 200%;
          z-index: 1;
          @include position(relative, 0, -115%);
          margin-top: -60%;
          margin-bottom: -25%;
        }
      }
    }

    .faq-section {
      flex: 1;
      padding: 5%;

      .faq {
        margin: 1em;

        h1 {
          font-size: 2.5em;
          font-weight: 700;
          margin-bottom: 1.5em;
          color: $text-heading;
        }

        .faq-group {
          .qna {
            margin: 1.2em 0;

            .question-group {
              @include flexbox(row, space-between, center);
              margin-bottom: 1em;

              .question {
                font-size: 1.2em;
                font-weight: 400;
                color: $text-heading2;
                &:hover {
                  color: $text-hover;
                }
              }
            }

            .active {
              @extend .question-group;

              .question {
                font-weight: 700;
              }

              .arrow {
                transform: rotate(180deg);
              }
            }

            .answer {
              line-height: 1.5em;
            }
          }

          hr {
            border: none;
            height: 1px;
            background-color: $divider-color;
          }
        }
      }
    }
  }

  .attribution {
    color: white;
    font-weight: 400;
    padding: 2em;
    a {
      text-decoration: none;
      color: white;
      font-weight: 700;
    }
  }
}

@media screen and (max-width: $mobile-size) {
  #box {
    display: none;
  }

  body {
    @include flexbox(column, center, center);

    .container {
      max-width: 400px;
      width: 90%;
      @include flexbox(column, center, stretch);

      .image {
        width: 100%;

        .cover-image {
          width: 100%;
          overflow: visible;
          background-color: slateray;
          position: static;

          .illustration {
            width: 80%;
            @include position(absolute, -100%, 5%);
          }

          .background {
            width: 70%;
            margin: 0;
            @include position(relative, 5%, 15%);
          }
        }
      }
      .faq-section {
        padding: 15% 5%;

        .faq {
          font-size: $font-size;
          h1 {
            text-align: center;
          }
        }

        .answer {
          margin-right: 10%;
        }
      }
    }
  }
}
